@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("roboto"),
    url("../fonts/roboto.woff") format("woff"),
    url("../fonts/roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("RobotoMedium"), local("roboto-medium"),
    url("../fonts/robotomedium.woff") format("woff"),
    url("../fonts/robotomedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("RobotoBold"), local("roboto-bold"),
    url("../fonts/robotobold.woff") format("woff"),
    url("../fonts/robotobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;

  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
}

.button {
  display: block;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 10px;

  border: none;
  border-radius: 50px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  background-image: linear-gradient( rgb(242,104,67) 0%, rgb(231,74,53) 100% );
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.4);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-image: linear-gradient( 180deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.8);
}

.button:active {
  background-image: linear-gradient( rgb(242,104,67) 0%, rgb(231,74,53) 100% );
  box-shadow: inset 0px 2px 1px 0px rgba(172, 16, 0, 0.8);
}

.header {
  position: relative;

  margin-bottom: 570px;

  z-index: 10;
}

.catalog-page .header {
  margin-bottom: 40px;
}

.main-nav {
  position: relative;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.header-logo {
  display: block;
  padding-top: 10px;
}

.site-list,
.user-list,
.modal-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list {
  display: flex;
  width: 680px;
}

.site-item {
  margin-right: 26px;
}

.site-item:last-child {
  margin-right: 0;
}

.site-list a {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.header-contacts,
.user-list a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.header-contacts {
  position: absolute;
  top: 50px;
  right: 27px;

  text-align: right;
}

.catalog-link:hover,
.catalog-link:focus {
  font-weight: 700;
  color: #323232;

  background-color: rgba(248, 247, 244, 0.988);
}

.catalog-link:hover + .modal-list {
  display: flex;
}

.catalog-link:active {
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.7);
}

.modal-list a {
  font-size: 14px;
  line-height: 16px;
}

.modal-list {
  position: absolute;
  display: none;
}

.modal-item a {
  color: #323232;
}

.modal-item a:hover,
.modal-item a:focus {
  background-color: #fbded7;
}

.modal-item a:active {
  background-color: #f6b5a5;
}

.site-list-current > a {
  background-color: #d07058;
}

.modal-item:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;
}

.user-list {
  display: flex;

  margin-left: auto;
}

.user-item {
  position: relative;

  margin-right: 10px;
}

.user-item:last-child {
  margin-right: 0;
}

.form-search {
  position: absolute;

  display: none;
}

.search-link:hover + .form-search {
  display: flex;
}

.login-link,
.cart-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  background-color: #a1b4a9;
}

.login-link:hover,
.login-link:focus,
.cart-link:hover,
.cart-link:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.cart-link:hover + .modal-cart {
  display: flex;
}

.login-link:hover + .modal-login {
  display: flex;
}

.modal-login {
  position: absolute;

  display: none;
}

.modal-login .restore-password,
.modal-login .new-registry {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.button-login {
  font-size: 18px;
  line-height: 24px;
}

.phone-link {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.slider {
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -600px;
  width: 1200px;

  z-index: 0;
}

.slider-list {
  margin: 0;
  padding: 0;

  text-align: center;
  list-style: none;
}

.slider-item {
  position: relative;
}

.slider-item:not(:first-child) {
  display: none;
}

.slider-text-wrapper {
  position: absolute;
  bottom: 305px;
  left: 50%;
  margin-left: -335px;
  width: 670px;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-button {
  width: 280px;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 15px;
  padding-right: 40px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.slider-switches {
  position: absolute;
  top: 560px;
  left: 27px;

  display: flex;
  width: 80px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-radio button {
  width: 21px;
  height: 21px;
  margin-right: 6px;

  border-radius: 10px;
  border: 2px solid #ffffff;

  background-color: transparent;
}

.slider-radio-active button {
  background-color: #ffffff;
}

.slider-radio:last-child button {
  margin-right: 0;
}

.stocks {
  margin-bottom: 40px;
}

.stocks-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.stocks-item {
  width: 560px;
  padding: 20px;

  border-radius: 20px;
}

.stocks-item:first-child {
  margin-right: 27px;

  background-color: #852041;
  background-image: url("../img/rasberrybg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.stocks-item:last-child {
  background-color: #3a1f18;
  background-image: url("../img/chocolatebg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.stocks-item h3 {
  margin: 0;
  margin-bottom: 15px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.stocks-item p {
  margin: 0;
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.rasberry-button {
  width: 165px;
  margin-left: auto;
}

.chocolate-button {
  width: 195px;
  margin-left: auto;
}

.hits {
  margin-bottom: 40px;
}

.hits-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.hits-item {
  position: relative;
  width: 267px;
  margin-right: 26px;

  text-align: center;
}

.hits-item:nth-child(4n) {
  margin-right: 0;
}

.hits-price-units {
  position: absolute;
  bottom: 90px;
  left: 0;

  margin: 0;

  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hits-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.hits-units {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.hits-description {
  margin: 0;
  width: 257px;
  margin-bottom: 25px;

  text-align: center;
}

.features {
  margin-bottom: 40px;
}

.features-wrapper {
  padding: 20px;

  border-radius: 10px;

  color: #323232;

  background-color: #d7c7a5;
  background-image: url("../img/waffle.jpg");
  background-repeat: repeat;
  background-position: left top;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  width: 540px;
  margin-right: 26px;
  padding-left: 55px;
}

.features-item:nth-child(2n) {
  margin-right: 0;
}

.features-title {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.column-index {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-left: 27px;
  padding-right: 27px;
}

.news {
  width: 560px;
  padding: 20px;

  border-radius: 10px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/strawberrybg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.news-description {
  margin: 0;

  font-weight: 500;
}

.news-link {
  display: block;
  max-width: 290px;

  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline;
}

.mail {
  width: 560px;
  padding: 20px;

  border-radius: 10px;

  color: #323232;

  background-image: repeating-linear-gradient(135deg, #ffffff 0, #ffffff 6px, #92cdff 6px, #92cdff 12px, #fe9e90 12px, #fe9e90 18px, #ffffff 18px, #ffffff 24px);
}

.button-mail {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.contacts {
  position: relative;

  width: 1200px;
  margin: 0 auto;
}

.contacts p {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
}

.contacts-info {
  position: absolute;
  top: 60px;
  right: 27px;

  width: 300px;
  padding: 20px;

  border-radius: 10px;

  color: #323232;
  font-size: 14px;
  line-height: 20px;

  background-color: #ffffff;
}

.contacts-address span,
.contacts-phone span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.footer-wrapper {
  display: flex;
}

.footer {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer a {
  color: #ffffff;
}

.footer-social {
  width: 200px;
  margin-right: 215px;
}

.social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav {
  width: 330px;
}

.nav-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-link {
  font-size: 13px;
  line-height: 18px;
}

.nav-item-current a {
  font-weight: 700;
}

.footer-privacy {
  width: 190px;
  margin-left: auto;
}

.footer-logo {
  display: block;
  width: 108px;
  height: 39px;
}

.footer-logo img {
  width: 108px;
}

.text-privacy {
  font-size: 12px;
  line-height: 18px;
}

.modal-feedback {
  position: absolute;
  top: 200px;
  right: 50%;
  margin-right: -240px;
  width: 480px;
  padding: 20px;
  display: none;

  border-radius: 10px;

  color: #323232;

  background-color: #ffffff;
}

/* .modal-feedback::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
} */

.feedback-slogan {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.breadcrums {
  margin-bottom: 20px;
}

.breadcrums-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrums-item {
  margin-right: 25px;
}

.breadcrums-item:last-child {
  margin-right: 0;
}

.breadcrums-link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrums-title {
  margin: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filters {
  margin-bottom: 40px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filters fieldset {
  padding: 0;
  border: none;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
}

.filters input {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filter-sort {
  width: 195px;
  margin-bottom: 15px;
}

.filters .sort-input {
  color: #323232;
}

.filters .sort-list {
  position: absolute;

  display: none;

  list-style: none;
  color: #323232;
}

.sort-wrapper:hover + .sort-list {
  display: flex;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;
}

.filter-price {
  width: 220px;
  margin-right: 15px;
}

.filter-fatty {
  width: 415px;
}

.fatty-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.fatty-item {
  margin-right: 20px;
  padding-left: 33px;
}

.filter-filler {
  width: 700px;
  margin-right: 15px;
}

.filler-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.filler-item {
  margin-right: 20px;
  padding-left: 33px;
}

.filler-item:last-child {
  margin-right: 0;
}

.button-filter {
  border: 1px solid #ffffff;
  border-radius: 40px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
}

.button-filter:hover,
.button-filter:focus {
  background-color: #ffffff;
  color: #323232;
}

.button-filter:active {
  border: none;

  background-color: #ededed;
  box-shadow: inset 0px 1px 1px 0px rgba(105, 105, 105, 0.4);
}

.catalog-page .hits-price-units {
  bottom: 110px;
}

.catalog {
  margin-bottom: 70px;
}

.button-catalog {
  position: absolute;
  bottom: -35px;
  left: 30px;

  display: none;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 13px;
  padding-right: 20px;

  z-index: 10;
}

.catalog-item {
  position: relative;
}

.catalog-item:hover > .button-wrapper .button-catalog {
  display: block;
}

.catalog-item:hover::before {
  content: "";

  position: absolute;
  top: -8px;
  left: -13px;

  width: 293px;
  height: 405px;

  background-color: rgba(255, 255, 255, 0.2);
  z-index: 5;

  cursor: pointer;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 20px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
}

.modal {
  background-color: #f8f7f4;
}

.modal-cart {
  position: absolute;

  display: none;

  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart-expression span {
  opacity: 0.5;
}

.cart-sum {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}
